.App {
  text-align: center;
}
:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
}

.nav-logo {
  height: 45px;
  width: 45px;
  left: 50px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}
.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}
.nav-items {
  padding-right: 10px;
}
.nav-item:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .nav-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    right: 0;
    top: 7.5vh;
    background-color: #fafafa;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-item {
    opacity: 1;
  }
  .burger {
    display: block;
    margin-right: 10px;
  }
}

.nav-active {
  transform: translateX(0%);
}
